In [1]:
! pip install pandas

Requirement already satisfied: pandas in c:\users\admin\anaconda3\lib\site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\admin\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\admin\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\admin\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\admin\anaconda3\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\admin\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

# What is pandas 

- Pandas series - 
- Pandas Data Frame

In [2]:
# Import the pandas
import pandas as pd

In [3]:
pd.__version__

'2.0.3'

## Series Data Structure

In [6]:
# First series
obj = pd.Series([1, 'John', 3.5, "Hey"])

In [7]:
obj

0       1
1    John
2     3.5
3     Hey
dtype: object

In [8]:
## Accessing elemnets in series
obj[0]

1

In [9]:
obj[3]

'Hey'

In [10]:
obj

0       1
1    John
2     3.5
3     Hey
dtype: object

In [11]:
# Display only the values
obj.values

array([1, 'John', 3.5, 'Hey'], dtype=object)

In [12]:
# Changing Indexes
obj2 = pd.Series([1, "John", 3.5, "Hey"], index = ['a', 'b', 'c', 'd'])

In [13]:
obj2

a       1
b    John
c     3.5
d     Hey
dtype: object

In [14]:
obj2.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [15]:
score = {'Jane': 90, 'Bill': 80, 'ELon': 85, 'Tom': 75, 'Tim': 95}
names = pd.Series(score)
names

Jane    90
Bill    80
ELon    85
Tom     75
Tim     95
dtype: int64

In [16]:
type(names)

pandas.core.series.Series

In [17]:
names['Tim']

95

In [18]:
# Accessing values in a series by a condition
names[names>85]

Jane    90
Tim     95
dtype: int64

In [19]:
names

Jane    90
Bill    80
ELon    85
Tom     75
Tim     95
dtype: int64

In [20]:
# updating values in Series
names["Tom"] = 83

In [21]:
names

Jane    90
Bill    80
ELon    85
Tom     83
Tim     95
dtype: int64

In [22]:
#check if an element is in the series
'Tom' in names

True

In [23]:
'Can' in names

False

In [25]:
# Divide the series value by 10
names / 10

Jane    9.0
Bill    8.0
ELon    8.5
Tom     8.3
Tim     9.5
dtype: float64

In [26]:
names ** 2

Jane    8100
Bill    6400
ELon    7225
Tom     6889
Tim     9025
dtype: int64

In [27]:
# Checking if there are missing values in the series
names.isnull()

Jane    False
Bill    False
ELon    False
Tom     False
Tim     False
dtype: bool