In [1]:
! pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\admin\anaconda3\lib\site-packages (8.2.0)
Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in c:\users\admin\anaconda3\lib\site-packages (from mysql-connector-python) (4.21.12)

In [3]:
# Import the library
import mysql.connector

In [7]:
# Connect to mysql server
config = {
    'host': 'localhost',
    'user': 'root',
    'password': 'desmondx',
    'database': 'my_database'
}

In [8]:
# Establish a connection
cnx = mysql.connector.connect(**config)

In [9]:
# Create a cursor object
cursor = cnx.cursor()

In [13]:
# Execute sql query
cursor.execute("SELECT * FROM persons")

In [14]:
# Fetch data to return results
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 'John', datetime.date(1990, 5, 15))
(2, 'Jane', datetime.date(1985, 10, 25))
(3, 'Michael', datetime.date(1978, 3, 12))

In [15]:
# Close the connection
cursor.close()

True

In [16]:
cnx.close()